💬 *Новый комментарий · задача #{{ event.issue.id }}*

*{{ event.issue.subject }}*

*Автор:* {{ event.author.name }}
*Когда:* {{ event.occurred_at.strftime('%d.%m.%Y %H:%M') }}

{{ event.notes | truncate(500, killwords=False, end='…') }}

[Открыть в Redmine]({{ redmine_base_url }}/issues/{{ event.issue.id }})
