🆕 *Новая задача #{{ event.issue.id }}*

*{{ event.issue.subject }}*

*Статус:* {{ event.issue.status.name }}
*Приоритет:* {{ event.issue.priority.name }}
*Автор:* {{ event.issue.author.name }}
*Исполнитель:* {% if event.issue.assigned_to %}{{ event.issue.assigned_to.name }}{% else %}не назначено{% endif %}
*Дедлайн:* {% if event.issue.due_date %}{{ event.issue.due_date.strftime('%d.%m.%Y') }}{% else %}не установлен{% endif %}
*Создана:* {{ event.issue.created_on.strftime('%d.%m.%Y %H:%M') }}

{% if event.issue.description %}
{{ event.issue.description | truncate(300, killwords=False, end='…') }}

{% endif %}
[Открыть в Redmine]({{ redmine_base_url }}/issues/{{ event.issue.id }})
